<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ajwlforever.forum.dao.UserMapper">
    <sql id="select">
        id,username,nickname,password,salt,info,email,level,type,active_code,status,create_time,active_time,header_url
    </sql>
    <sql id="insert">
        username,nickname,password,salt,email,level,type,active_code,status,create_time,active_time,header_url
    </sql>

    <select id="selectById" resultType="User">
        select <include refid="select"></include>
        from t_user
        where id = #{id}
    </select>

    <select id="selectByName" resultType="User">
        select <include refid="select"></include>
        from t_user
        where username = #{username}
    </select>
    <select id="selectByEmail" resultType="User">
        select <include refid="select"></include>
        from t_user
        where email = #{username}
    </select>
    <insert id="insertUser"  parameterType="User" keyProperty="id" >
        insert  into t_user( <include refid="insert"></include> )
        values(#{username},#{nickname},#{password},#{salt},#{email},#{level},#{type},#{activeCode},#{status},#{createTime},#{activeTime},#{headerUrl})

    </insert>

    <update id="updateStatus">
        update t_user set status = #{status} where id = #{userId}
    </update>
    <update id="updateHeader">
        update t_user set header_url = #{headerUrl} where id = #{userId}
    </update>
    <update id="updatePassword">
        update t_user set password = #{password} where id = #{userId}
    </update>
    <update id="updateInfo">
        update t_user set info = #{info} where id = #{userId}
    </update>
    <update id="updateNickName">
        update t_user set nickname = #{nickName} where id = #{userId}
    </update>
</mapper>